@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  font-size: 1.2em;
}
/* HTML SELECTORS */
a {
  text-decoration: none;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 100%;
  margin: 15px;
  padding: 0;
  height: 100%;
}

h1 a {
  font-family: 'Lora', serif;
  color: #333;
}

h1 {
  text-align: center;
}

nav ul {
  font-family: 'Lora', serif;
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-color: #d0d0d0;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav li {
  list-style: none;
}
nav li a {
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.25em;
}
nav li a:visited {
  color: #666;
  text-decoration: none;
}
nav li a:active {
  color: #deb887;
}
nav li a:hover {
  color: #00ddff;
}

.post-date {
  font-size: 1em;
  color: #333;
  text-align: right;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-color: #d0d0d0;
  padding-bottom: 10px;
  padding-top: 20px;
}

.post-content h2 a {
  color: #d0d0d0;
  font-family: 'Lora', serif;
  font-size: 0.75em;
}
.post-content {
  margin-left: 20px;
}
.post-content p,
.post-content a {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
.post-content a {
  color: #d0d0d0;
}

@media only screen and (min-width: 540px) {
  article {
    display: grid;
    grid-template-columns: 120px auto;
  }

  .post-content {
    border-top: 0;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    grid-column: 2/3;
    padding-left: 10px;
  }
  .post-date {
    border: none;
    width: 120px;
  }
  nav {
    grid-column: 1/2; /* Align nav to the first column */
    text-align: right;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align items to the end (right) */
  }

  nav li {
    margin-left: 20px; /* Adjust as needed for spacing between nav items */
  }
}
